.about {
  display: flex;
  margin-bottom: 52px;
}

.about__img {
  width: 490px;
  height: 505px;
}

.about__block {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 78px;
  padding-top: 72px;
  padding-right: 20px;
  padding-bottom: 66px;
  margin-left: -134px;
  margin-top: 95px;
}

.about__title {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.about__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding-right: 180px;
  margin-bottom: 41px;
}

.about__button {
  align-self: flex-start;
}