.tag {
  background-color: #E7E7E7;
  color: #303030;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 13px;
}

.tag--bg--beige {
  background-color: #F2D4C9;
}

.tag__option {
  padding: 9px 15px;
}